* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    position: fixed;
}

.footer {
    margin: 0;
}

@media screen and (max-width: 800px) {
    .container {
        margin: 1em 2em;
    }


}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu-mobile {
    display: none;
}

.logo {
    display: flex;
}

.logo-img {
    width: 56px;
    height: 56px;
}

.item-end {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-end a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
}

.item-end a img {
    width: 16px;
    height: 16px;
}

.item-end button {
    padding: 8px 16px;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.text {
    margin-top: 150px;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-about h1 {
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.text-about h3 {
    margin-top: 20px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.about .text-about button {
    display: flex;
    align-items: center;
    margin: 30px 0 0;
    padding: 0 20px;
    gap: 8px;
    width: 222px;
    height: 50px;
    min-width: fit-content;
    background-color: black;
    color: white;
    border-radius: 500px;
    font-size: 19px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.image img {
    max-width: 700px;
    width: 50vw;
}

.footer {
    width: 100%;
    height: 56px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer button {
    padding: 8px 16px;
    background-color: yellow;
    color: black;
    border-radius: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: none;
}

@media (max-width: 800px) {
    .logo {
        text-align: center;
    }

    .logo img {
        display: block;
        margin: 0 auto;
        width: 80px;
        max-width: 100%;
        height: auto;
    }

    .menu {
        display: none;
    }

    .menu-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .text {
        flex-direction: column;
    }

    .text-about h1 {
        font-size: 46px;
        text-align: center;
    }

    .text-about h3 {
        font-size: 20px;
        text-align: center;
    }

    .about .text-about button {
        width: 330px;
        font-size: 16px;
        align-items: center;
    }

    .footer p{
        display: none;
    }

    .footer button {
        display: block;
    }
}